$def with(producto)

<h2>Editar Producto</h2>

<form method="POST">

<input type="hidden" name="id_producto" value="$producto['id_producto']">

Nombre:<br>
<input type="text" name="nombre" value="$producto['nombre']"><br><br>

Stock:<br>
<input type="number" name="stock" value="$producto['stock']"><br><br>

Descripción:<br>
<input type="text" name="descripcion" value="$producto['descripcion']"><br><br>

Precio:<br>
<input type="text" name="precio" value="$producto['precio']"><br><br>

<input type="submit" value="Guardar">

</form>

<br>

<a href="/lista_productos">
    <button>Cancelar</button>
</a>