$def with(proveedor, mensaje)
<h1>Borrar PROVEEDOR</h1>

$if mensaje is not None:
    <h1>$mensaje</h1>

$if proveedor == {}:
    <h1>Ups, no existe este proveedor</h1>
    <a href="/lista_proveedores"><button type="button">Regresar</button></a>
$else:
    <form method="post">
        <label for="id_proveedor">ID:</label>
        <input type="text" id="id_proveedor" name="id_proveedor" value="$proveedor['id_proveedor']" readonly><br><br>

        <label for="nombre_empresa">Nombre Empresa:</label>
        <input type="text" id="nombre_empresa" name="nombre_empresa" value="$proveedor['nombre_empresa']" readonly><br><br>

        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" value="$proveedor['correo']" readonly><br><br>

        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" name="telefono" value="$proveedor['telefono']" readonly><br><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" value="$proveedor['ciudad']" readonly><br><br>

        <a href="/lista_proveedores"><button type="button">Regresar</button></a>
        <button type="submit" name="borrar">Borrar</button>
    </form>