<h1>Insertar proveedor</h1>

<form  method="post">
    <label for="nombre_empresa">Nombre Empresa:</label>
    <input type="text" id="nombre_empresa" name="nombre_empresa"><br><br>

    <label for="correo">Correo:</label>
    <input type="text" id="correo" name="correo"><br><br>

    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono"><br><br>

    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" name="ciudad"><br><br>

    <a href="/lista_proveedores"><button type="button">Regresar</button></a>
    <button name="insertar">Guardar</button>
</form>