$def with(proveedores)

<h1>Lista proveedores</h1>
<a href="/insertar_proveedor"><button name="nuevo">Nuevo</button></a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre Empresa</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Ciudad</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    $for proveedor in proveedores:
        <tr>
            <td>$proveedor['id_proveedor']</td>
            <td>$proveedor['nombre_empresa']</td>
            <td>$proveedor['correo']</td>
            <td>$proveedor['telefono']</td>
            <td>$proveedor['ciudad']</td>
            <td><a href="/ver_proveedor/$proveedor['id_proveedor']">Ver</a></td>
            <td><a href="/editar_proveedor/$proveedor['id_proveedor']">Editar</a></td>
            <td><a href="/borrar_proveedor/$proveedor['id_proveedor']">Borrar</a></td>
        </tr>
</table>